# Neon Database URL
# Get this from: https://console.neon.tech
DATABASE_URL=postgresql://username:password@ep-xxx.region.aws.neon.tech/neondb?sslmode=require

# Base URL of your app
NEXT_PUBLIC_BASE_URL=http://localhost:3000

BLOB_READ_WRITE_TOKEN=your_vercel_blob_token_here